[include]
  path = ~/.config/git/gitconfig.personal

# when working on work projects
[includeIf "gitdir:**/work/**/.git"]
  path = ~/.config/git/gitconfig.work

#[gpg]
#    program = gpg
#[commit]
#    gpgSign = true
[init]
	defaultBranch = master
